name: Node.js CI

on: [push, pull_request]

jobs:
  build:
    name: JHipster ${{ matrix.jhipster-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        jhipster-version: [6.3.0, 6.3.0, 6.4.0, 6.4.1, 6.5.0, 6.5.1, 6.6.0, 6.7.0, 6.7.1]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: npm ci
    - run: npm install jhipster-generator@${{ matrix.jhipster-version }}
    - run: npm test
      env:
        CI: true
